@font-face {
    src: url("../fonts/OpenSans-Regular.woff");
    font-family: "OpenSans-Regular";
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    src: url("../fonts/OpenSans-Bold.woff");
    font-family: "OpenSans-Bold";
    font-weight: 700;
    font-style: normal;
  }
  html, body {
    width: 100%;
    overflow-x: hidden; 
  }
  body, ul, figure, h1, p {
    margin: 0 auto;
    font-family: "OpenSans-Regular", sans-serif;  
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  /* -------------------Header------------------------------------- */
  .header {
    /*min-width: 1660px;*/
    width: 100%;
    background-image: url("../images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    position: relative;
    background-color: #000000;
    z-index: 0;
    padding-bottom: 120px;
    margin: 0 auto;
  }
  .header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.45;
    z-index: -1;
  }
  .flex-row {
    display: flex;
    flex-direction: row;
  }
  .header-menu {
    justify-content: space-between;
    width: 71%;
    margin: 0 auto;
    padding-top: 24px;
    position: relative;

  }
  .logo {
    width: 179px;
    padding-left: 8px;
    padding-top: 4px;
  }
  .logo:hover {
    cursor: pointer;
  }
  .header-menu-button {
    position: absolute;
    border: none;
    background: transparent;
    width: 23px;
    height: 20px;
    margin-top: 31px;
    top: 0;
    right: 0;
  }
  .header-menu-button::before,
  .header-menu-button::after {
    content: '';
    left: 152px;
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background: #ffffff;
  }
  .header-menu-button::before {
    top: 0;
    box-shadow: 0 8px 0 #ffffff;
  }
  .header-menu-button::after {
    bottom: 0;
  }
  .header-list {
    padding-top: 12px;
    justify-content: flex-end;
    gap: 37px; 
  }
  .nav-link { 
    font-size: 13px;
    color: #ffffff;
  }
  .nav-link:hover { 
    text-decoration: underline;
  }
  .header-item {
    list-style-type: none;
  }
  .header-title {
    width: 42%;
    font-family: "OpenSans-Bold";
    font-size: 45px;
    line-height: 75px;
    margin: 98px auto 7px auto;   
    text-align: center;
  }
  /*-------------------top banner-----------------*/
  .banner {
    margin-top: 56px;
    text-align: center;
    width: 100%;
  }
  .banner-section {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
  }
  .banner-title {
    font-size: 20px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-family: "OpenSans-Bold";
    margin: auto;
  }
  .banner-title:after {
    content: '';
    width: 66px;
    border-bottom: 3px solid #b59f5b;
    display: block;
    text-align: center;
    margin: 11px auto 28px; 
    opacity: 0.4;
  }
  .banner-title:hover {
    color: #b59f5b;
  }
  .banner-card {
    width: 25%;
    background-image: url("../images/trend1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-transform: uppercase;
    position: relative;
    background-color: #000000;
    z-index: 0;
    min-height: 319px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .banner-card:nth-child(2) {
    background-image: url("../images/trend2.jpg");
  }
  .banner-card:nth-child(3) {
    background-image: url("../images/trend3.jpg");
  }
  .banner-card:nth-child(4) {
    background-image: url("../images/trend4.jpg");
  }
  .banner-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
  }
  .banner-card-text {
    border: 3px solid #b59f5b;
    text-align: left;
    margin: 0px 25px 18px 18px;
    padding: 37px 23px 32px 33px;
  }
  .banner-cards-title {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "OpenSans-Bold";
    padding-top: 7px;
  }
  .banner-cards-title:hover {
    color: #b59f5b;
  }
  /* ------------------Main---------------- */
  .wrapper {
    width: 71%;
    justify-content: space-between;
    padding: 59px 16px 0px 16px;
    text-align: center;
    margin: 0 auto;
  }
  .news {
    width: 67%;
  }
  .cards-img-wrap {
    align-items: flex-start;
    margin-bottom: 60px;
    box-sizing: border-box;
    object-fit: cover;
    padding-top: 2px;
    padding-left: 3px;
  }
  .cards-img-wrap:nth-last-child(1) {
    margin-bottom: 51px;
  }
  .cards-img {
    width: auto;
  }
  .cards-info {
    display: block;
    text-align: left;
    padding-left: 31px;
  }
  .cards-list-tags-items {
    text-transform: uppercase;
    font-size: 14px;
    font-family: "OpenSans-Bold";
    padding-right: 20px;
    list-style-type: none;
  }
  .cards-list-tags-items:hover {
    text-decoration: underline;
    color: #b59f5b;
  }
  .cards-list-tags-link {
    color: #b59f5b;
    display: block;
    margin-top: -3px;
  }
  .cards-title {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    color: #0f0d0e;
    font-family: "OpenSans-Bold";
    margin-top: 7px;
    margin-bottom: 28px;
  }
  .cards-title:hover {
    color: #b59f5b;
  }
  .card-date {
    font-size: 12px;
    color: #888888;
    padding-right: 13px;
  }
  .cards-author {
    font-size: 12px;
    color: #000000;
    font-family: "OpenSans-Bold";
  }
  .cards-wrap-content > p {
    font-size: 15px;
    line-height: 22px;
    margin-top: 47px;
    color: #0f0d0e;
  }
  .cards-wrap-content > p:not(:first-child) {
    margin-top: 11px;
  }
  /* ---------------------Aside------------------ */
  .aside-news {
    text-align: center;
    display: block;
    width: 25%;
  }
  .aside-news-section {
    padding-left: 19px;
  }
  .aside-news-section:not(:first-child) {
    margin-top: 56px;
    padding-left: 0;
  }
  .aside-title {
    font-size: 14px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-family: "OpenSans-Bold";
    margin: 0 auto;
  }
  .aside-title::after {
    content: '';
    width: 66px;
    border-bottom: 3px solid #b59f5b;
    display: block;
    text-align: center;
    margin: 11px auto 28px; 
    opacity: 0.4;
  }
  .aside-img-wrap { 
    align-items: flex-start;
    object-fit: contain;
    box-sizing: border-box;
    margin-bottom: 22px;
  } 
  .aside-img {
    width: auto;
  }
  .aside-info {
    display: block;
    padding-left: 18px;
    text-align: left;
  }
  .aside-date {
    display: block;
    font-size: 12px;
    color: #888888;
    margin-top: -5px;
  }
  .aside-caption {
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #000000;
    font-family: "OpenSans-Bold";
  }
  .aside-caption:hover {
    color: #b59f5b;
  }
  .aside-search {
    margin-top: 60px;
    width: 271px;
    height: 48px;
    box-sizing: border-box;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  } 
  .search-field {
    width: 222px;
    height: 48px;
    background-color: #f4f7f6;
    border: none;
    padding: 20px;
    font-size: 13px;
    color: #000000;
    opacity: 0.541;
  }
  .search-field:focus {
    background-color: #f4f7f6;
    border: 1px solid #b59f5b;
  }
  .button-search {
    width: 49px;
    height: 49px;
    background-color: #b59f5b;
    background-image: url("../svg/search.svg");
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
  }
  .button-search:hover {
    cursor: pointer;
    background-color: #323232;
  }
  .subscribe-form {
    display: block;
    padding-left: 13px;
  }
  .subscribe-field {
    width: 222px;
    height: 48px;
    opacity: 0.541;
    font-size: 13px;
    color: #000000;
    background-color: #f4f7f6;
    border: none;
    box-sizing: border-box;
    padding: 21px;
    margin-bottom: 12px;
  }
  .subscribe-field:focus {
    background-color: #f4f7f6;
    border: 1px solid #b59f5b;
  }
  .subscribe-button {
    width: 270px;
    height: 48px;
    background-color: #b59f5b;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    font-family: "OpenSans-Bold";
    color: #ffffff;
    border: none;
    margin-left: 13px;
  }
  .subscribe-button:hover{
    cursor: pointer;
    background-color: #323232;
  }
  .tags-list {
    flex-wrap: wrap;
    padding-left: 15px;
    justify-content: flex-start;
  }
  .tags-text {
    font-size: 12px;
    list-style-type: none;
    text-transform: uppercase;
    font-family: "OpenSans-Bold";
    height: 30px;
    border: 3px solid #eeeeee;
    box-sizing: border-box;
    margin: 0px 3px 3px 3px;
  }
  .tags-text:hover {
    border: 3px solid #b59f5b;
  }
  .tags-link {
    display: block;
    color: #0f0d0e;
    padding: 4px 14px;
  }
  .themes-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding-left: 19px;
  }
  .themes-text {
    font-size: 14px;
    font-family: "OpenSans-Bold";
    list-style-type: none;
    text-transform: capitalize;
    border-bottom: 1px solid #eeeeee;
    width: 271px;
    padding: 2px 0px 4px 0px;
  }
  .themes-link {
    color: #000000;
  }
  .themes-link:hover {
    color: #b59f5b;
  }
  .themes-sub {
    font-size: 12px;
    line-height: 36px;
    color: #b59f5b;
    font-family: "OpenSans-Bold";
    vertical-align: super;
    display: inline-block;
    padding-left: 3px;
  }
  /*-------------------------Popup-------------*/
  .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }
  .popup-content {
    background: #ffffff;
    width: 390px;
    height: 590px;
    padding: 47px 30px 50px 28px;
    box-sizing: border-box;
    position: relative;
    z-index: 4;
    font-size: 13px;
  }
  .popup-close {
    position: absolute;
    color: #ffffff;
    right: -2px;
    top: -26px;
    cursor: pointer;
  }
  .popup-close-svg {
    width: 20px;
    height: 20px;
    fill: #ffffff;
  }
  .popup-close-svg:hover {
    fill: #b59f5b;
  }
  .popup-toggle:checked + .popup {
    display: flex;
  }
  .popup-toggle {
    display: none;
  }
  .popup-title {
    font-size: 20px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-family: "OpenSans-Bold";
    margin: auto;
  }
  .popup-title:after {
    content: '';
    width: 66px;
    border-bottom: 3px solid #b59f5b;
    display: block;
    text-align: center;
    margin: 8px auto 25px; 
    opacity: 0.4;
  }
  .popup-group {
    text-align: left;
    margin-bottom: 33px;
  }
  .select {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 42px;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 18px;
    background-image: url("../svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: right 13px center;
    margin-top: 11px;
    background-color: #F3F7F6;
    font-size: 14px;
    color: #757776;
    border: none;
  }
  .radio-group {
    display: flex;

  }
  .popup-radio-title {
    display: inline-block;
    margin: 7px 11px 0px 0px;
  }
  .popup-radio-title::before {
    margin-right: 3px;
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-image: url("../svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;
  }
  .popup-radio:focus ~ .popup-radio-title::before {
    outline: 2px solid #b59f5b;
    outline-offset: 2px;
  }
  .popup-radio:checked ~ .popup-radio-title::before {
    background-image: url("../svg/form-circle.svg");
  }
  .popup-radio {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
  }
  .popup-textarea {
    width: 100%;
    height: 130px;
    padding-left: 21px;
    padding-top: 17px;
    resize: none;
    background-color: #F3F7F6;
    font-size: 14px;
    color: #757776;
    box-sizing: border-box;
    border: none;
  }
  .popup-button {
    width: 100%;
    height: 48px;
    background-color: #b59f5b;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    font-family: "OpenSans-Bold";
    color: #ffffff;
    border: none;
    margin-top: -9px;
  }
  .popup-button:hover{
    cursor: pointer;
    background-color: #323232;
  }
  .popup-close-background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
  }
  /*--------------------bottom banner---------------*/
  .bottom-banner {
    margin: 0 auto 62px auto;
    text-align: center;
    width: 68%;
    padding: 0px 16px 0px 16px;
  }
  .bottom-banner-section {
    display: flex;
    justify-content: space-between;
    gap: 113px;
    width: 100%;
  }
  .bottom-banner-card {
    width: 33%;
    display: flex;
    flex-direction: column;
  }
  .bottom-banner-pict {
    width: 100%;
    height: 202px;
    opacity: 0.6;
    z-index: 0;
  }
  .bottom-banner-card-text {
    width: 115%;
    border: 3px solid #b59f5b;
    box-sizing: border-box;
    text-align: left;
    padding: 46px 22px 26px 17px;
    margin-top: -31px;
    margin-left: -20px;
    flex-grow: 1;
    z-index: 1;
  }
  .banner-card-title {
    font-size: 20px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-family: "OpenSans-Bold";
    margin-bottom: 3px;
  }
  .banner-desc {
    font-size: 15px;
    color: #0f0d0e;
    line-height: 22px;
  }
  .banner-link {
    color: #b59f5b;
  }
  .banner-content {
    display: flex;
    flex-direction: column;
    margin-top: 23px;
  }
  .banner-footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: auto;
  }
  .banner-prices {
    display: flex;
    flex-direction: column;
  }
  .banner-price {
    font-size: 21px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-family: "OpenSans-Bold";
  }
  .banner-old-price {
    font-size: 14px;
    text-decoration: line-through;
  }
  .banner-button {
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "OpenSans-Bold";
    width: 140px;
    height: 48px;
    background-color: #b59f5b;
    border: none;
  }
  .banner-button:hover {
    background-color: #323232;
    border: none;
  }
  /* ------------------------Footer-------------------- */
  .footer {
    text-align: center;
  }
  .footer-menu {
    width: 70%;
    background-color: #f4f7f6;
    text-align: center;
    margin: 0 auto;
  }
  .footer-list {
    margin: auto;
    justify-content: center;
    padding: 21px 0;
  }
  .footer-item {
    list-style-type: none;
    padding: 12px;
  }
  .footer-icon {
    width: 21px;
    height: 21px;
    display: block;
    background-size: 21px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .icon-dribble {
    background-image: url("../svg/001-dribbble.svg");
  }
  .icon-pinterest {
    background-image: url("../svg/002-pinterest.svg");
  }
  .icon-tumblr {
      background-image: url("../svg/003-tumblr.svg");
  }
  .footer-copyright {
    margin-top: 65px;
    padding-bottom: 40px;
  }
  .copyright-title {
    font-size: 12px;
    color: #999999;
    font-family: "OpenSans-Bold";
    padding-left: 12px;
  }

  @media (max-width: 640px) {
    .header {
      background-image: url("../images/banner-mobile.jpg");
      padding-bottom: 204px;
    }
    .header-menu {
      padding-top: 224px;
      width: 75%;
      justify-content: center;
    }
    .header-menu-button::after,
    .header-menu-button::before {
      left: -16px;
    }
    .logo {
      width: 271px;
      padding: 0;
    }
    .header-list {
      display: none;
    }
    .header-title {
      font-size: 26px;
      line-height: 36px;
      width: 78%;
      margin: 30px auto 7px auto;
    }
    .banner {
      margin-top: 39px;
    }
    .banner-title {
      font-size: 16px;
      padding-left: 0px;
    }
    .banner-title:after {
      margin: 6px auto 24px;
    }
    .banner-section {
      flex-direction: column;
      width: 100%;
      padding: 0;
      margin: 0;
    }
    .banner-card {
      width: 100%;
      min-height: 230px;
      padding-bottom: 0;
    }
    .banner-card-text {
      margin: 0px 15px 15px 15px;
      padding: 31px 28px 28px 21px;
    }
    .banner-cards-title {
      font-size: 16px;
      line-height: 20px;
      padding-top: 7px;
    }
    .wrapper {
      width: 91%;
      flex-direction: column;
      padding: 42px 10px 45px 11px;
      margin: 0 auto;
    }
    .news {
      width: 100%;
    }
    .cards-img-wrap {
      flex-direction: column;
    }
    .cards-img-wrap:nth-last-child(1) {
      margin-bottom: 58px;
    }
    .cards-img {
      width: 100%;
    }
    .cards-info {
      padding-left: 0;
      padding-top: 14px;
    }
    .cards-info::after {
      content: '';
      border-bottom: 3px solid #eeeeee;
      display: block;
      text-align: center;
      width: 329px;
      margin: 22px auto -24px;
    }
    .cards-title {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 18px;
      margin-top: 8px;
    }
    .cards-wrap-content > p {
      font-size: 14px;
      line-height: 20px;
      margin-top: 12px;
    }
    .cards-wrap-content > p:not(:first-child) {
      margin-top: 7px;
    }
    .aside-news {
      width: 100%;
    }
    .aside-news-section {
      padding-left: 5px;
    }
    .aside-news-section:not(:first-child) {
      margin-top: 38px;
      padding-left: 6px;
    }
    .aside-news-section:nth-last-child(1) {
      margin-top: 24px;
      padding-left: 6px;
    }
    .aside-title {
      font-size: 16px;
    }
    .aside-search {
      width: 100%;
    }
    .search-group {
      width: 85%;
    }
    .search-field {
      width: 100%;
    }
    .button-search {
      width: 15%;
    }
    .subscribe-form {
      padding-left: 0;
    }
    .subscribe-field {
      width: 100%;
    }
    .subscribe-button {
      width: 100%;
      margin-left: 0;
    }
    .tags-list {
      padding-left: 0px;
    }
    .tags-text {
      margin: -4px 0px 11px 3px;
    }
    .tags-link {
      padding: 2px 13px 2px 12px;
    }
    .themes-list {
      padding-left: 0;
    }
    .themes-text {
      width: 100%;
    }
    .popup-content {
      width: 330px;
      height: 545px;
      padding: 24px 27px 31px 23px;
    }
    .popup-close {
      right: 1px;
      top: -34px;
    }
    .popup-close-svg {
      width: 28px;
      height: 28px;
    }
    .popup-title {
      font-size: 16px;
    }
    .select {
      margin-top: 12px;
    }
    .popup-group {
      margin-bottom: 30px;
    }
    .popup-radio-title {
      margin: 10px 32px 0px 0px;
    }
    .popup-radio-title::before {
      margin-right: 5px;
      width: 25px;
      height: 25px;
      background-size: 25px;
    }
    .popup-radio:focus ~ .popup-radio-title::before {
      outline: 2px solid #b59f5b;
      outline-offset: 2px;
    }
    .popup-radio:checked ~ .popup-radio-title::before {
      background-image: url("../svg/form-circle.svg");
    }
    .popup-textarea {
      padding-left: 20px;
      padding-top: 23px;
    }
    .popup-button {
      margin-top: 0;
    }
    .bottom-banner {
      width: 80%;
      padding: 0;
      margin: 0 auto 40px auto;
    }
    .bottom-banner-section {
      flex-direction: column;
      gap: 31px;
    }
    .bottom-banner-card {
      width: 100%;
    }
    .bottom-banner-pict {
      width: 100%;
      min-height: 283px;
    }
    .bottom-banner-card-text {
      max-width: 114%;
      padding: 49px 22px 24px 17px;
    }
    .banner-card-title {
      font-size: 17px;
      line-height: 22px;
    }
    .banner-button {
      width: 50%;
    }
    .footer-menu {
      width: 91%;
    }
    .footer-copyright {
      margin-top: 39px;
    }
  }
  @media (max-width: 640px) and (orientation: landscape) {
    .banner-section {
      flex-direction: row;
      flex-wrap: wrap;
    }
    .banner-card {
      width: 49%;
      min-height: 245px;
    }
    .banner-card-text {
      margin: 0px 16px 14px 18px;
      padding: 26px 26px 31px 29px;
    }
  }
  @media (min-width: 641px) and (max-width: 1200px) {
    .header {
      background-image: url("../images/banner-bg-tablet.jpg");
      padding-bottom: 107px;
    }
    .header-menu {
      padding-top: 42px;
      width: 91%;
    }
    .logo {
      width: 159px;
      padding: 0;
    }
    .header-menu-button {
      margin-top: 53px;
    }
    .header-menu-button::before {
      left: -34px;
    }
    .header-menu-button::after {
      left: -34px;
    }
    .header-list {
      display: none;
    }
    .header-title {
      font-size: 40px;
      line-height: 55px;
      width: 80%;
      margin: 86px auto 7px auto;
    }
    .banner {
      margin-top: 42px;
    }
    .banner-title {
      font-size: 18px;
    }
    .banner-title:after {
      margin: 11px auto 19px;
    }
    .banner-section {
      flex-wrap: wrap;
    }
    .banner-card {
      width: 49%;
      min-height: 245px;
    }
    .banner-cards-title {
      font-size: 17px;
    }
    .banner-card-text {
      margin: 0px 16px 14px 18px;
      padding: 26px 26px 31px 29px;
    }
    .wrapper {
      width: 92%;
      padding: 48px 16px 0px 16px;
    }
    .news {
      width: 55%;
    }
    .cards-img-wrap {
      flex-direction: column;
    }
    .cards-img-wrap:nth-last-child(1) {
      margin-bottom: 55px;
    }
    .cards-info {
      padding-left: 0;
      margin-top: 23px;
    }
    .cards-title {
      font-size: 17px;
      line-height: 22px;
    }
    .cards-wrap-content > p {
      margin-top: 31px;
    }
    .aside-news {
      width: 42%;
    }
    .aside-news-section:not(:first-child) {
      padding-left: 4px;
    }
    .aside-search {
      width: 100%;
    }
    .search-group {
      width: 80%;
    }
    .search-field {
      width: 100%;
    }
    .button-search {
      width: 18%;
    }
    .subscribe-field {
      width: 100%;
    }
    .subscribe-button {
      width: 93%;
      margin-left: 12px;
    }
    .popup-content {
      width: 390px;
      height: 595px;
      padding: 49px 31px 55px 29px;
    }
    .popup-close {
      right: 1px;
      top: -34px;
    }
    .popup-close-svg {
      width: 28px;
      height: 28px;
    }
    .popup-title {
      font-size: 18px;
    }
    .select {
      margin-top: 12px;
    }
    .popup-group {
      margin-bottom: 30px;
    }
    .popup-radio-title {
      margin: 10px 32px 0px 0px;
    }
    .popup-radio-title::before {
      margin-right: 5px;
      width: 25px;
      height: 25px;
      background-size: 25px;
    }
    .popup-radio:focus ~ .popup-radio-title::before {
      outline: 2px solid #b59f5b;
      outline-offset: 2px;
    }
    .popup-radio:checked ~ .popup-radio-title::before {
      background-image: url("../svg/form-circle.svg");
    }
    .popup-textarea {
      padding-left: 20px;
      padding-top: 23px;
    }
    .popup-button {
      margin-top: 0;
    }
    .bottom-banner {
      width: 85%;
      padding: 10px 16px 0px 16px;
      margin: 0 auto 23px auto;
    }
    .bottom-banner-section {
      flex-wrap: wrap;
      padding-top: 9px;
      justify-content: flex-start;
      gap: 0;
    }
    .bottom-banner-card {
      width: 38%;
      margin-bottom: 25px;
    }
    .bottom-banner-card:first-child {
      margin-right: 18%;
    }
    .bottom-banner-card-text {
      width: 136%;
      padding: 51px 20px 26px 23px;
      margin-top: -11px;
      margin-left: -27px;
    }
    .banner-card-title {
      font-size: 17px;
    }
    .footer-menu {
      width: 91%;
    }
    .footer-copyright {
      margin-top: 39px;
    }
  }
  @media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
    .banner-card {
      width: 24%;
      min-height: 160px;
    }
    .banner-card-text {
      margin: 0px 16px 14px 18px;
      padding: 10px 0px 6px 9px;
    }
    .cards-list-tags-items {
      font-size: 11px;
      font-family: "OpenSans-Bold";
    }
    .banner-cards-title {
      font-size: 12px;
      line-height: 17px;
    }
  }
  @media (min-width: 1201px) {
    .header-menu-button {
      display: none;
    }
  }
